@import "_variable.scss";
@import "_mixin.scss";

/* ============================================================================= 
7. Subpages
============================================================================= */
/* =======================================
7.5 Blog subpage
======================================= */

.material-template {
    .page {
        .site-main {
            .pt-wrapper {
                .subpages {
                    .pt-page {
                        .custom-page-content {
                            .page-header {

                            }

                            .page-content {
                                .blog-masonry {
                                    margin: 0 -1em;
                                    .two-colums {
                                        .item {
                                            width: 50%;
                                            float: left;
                                            padding: 1em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}