@import "_variable.scss";
@import "_mixin.scss";

/* ============================================================================= 
7. Subpages
============================================================================= */
/* =======================================
7.5 Blog subpage
======================================= */
#page {
    #main {
        .blog-masonry {
            margin: 0 -1em;
            
            &.two-columns {
                .item {
                    width: 50%;
                    float: left;
                    padding: 1em;

                    .blog-card {
                        display: block;
                        position: relative;
                        padding: 0;
                        background: $button-text-color;
                        text-align: center;
                        @include photo-box-shadow(0, 1px, 5px, 0, 0.1);

                        &:hover {
                            @include photo-box-shadow(0, 1px, 15px, 0, 0.11);
                        }

                        .post-image {
                            width: 100%;
                            margin: 0;
                        }

                        .post-info {
                            padding: 0.8em 1.2em 1.4em;
                        }

                        .blog-item-title {
                            margin: 5px 0 0 0;
                        }

                        .post-meta {
                            padding: 1em;
                            margin: 0;

                            .item {
                                .post-meta {
                                    .item {
                                        display: inline-block;
                                        font-size: 13px;
                                        margin-right: 10px;

                                        a {
                                            color: $post-meta-color;
                                        }

                                        &:before {
                                            padding-right: 5px;
                                        }
                                    }
                                }
                            }
                        }

                        .post-date {
                            display: inline-block;
                            background-color: $button-text-color;
                            border: 1px solid $copyright-text-color;
                            padding: 0.3em;
                            text-align: center;
                            position: absolute;
                            top: 15px;
                            right: 1em;
                            min-width: 44px;
                            @include a-transition(0.2s);

                            span {
                                display: block;
                                color: $card-header-color;
                                line-height: 1;
                                font-size: 12px;
                                margin: 0;

                                &.day {
                                    font-size: 21px;
                                    margin: 3px 0;
                                }

                                &.month {
                                    font-weight: 400;
                                    margin-bottom: 3px;
                                }

                                &.year {
                                    font-size: 0.8em;
                                }
                            }
                        }

                        .media-block {
                            position: relative;

                            a {
                                .mask {
                                    position: absolute;
                                    background: $media-background;
                                    background: rgba(79, 86, 94, 0.6);
                                    display: inline-block;
                                    font-family: "FontAwesome";
                                    speak: none;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-variant: none;
                                    text-transform: none;
                                    line-height: 1;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    width: 100%;
                                    left: 0;
                                    bottom: 0;
                                    top: 0;
                                    opacity: 0;
                                    visibility: hidden;
                                    @include a-transition(0.2s);

                                    &:after {
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        margin: -20px 0 0 -20px;
                                        width: 40px;
                                        line-height: 40px;
                                        font-size: 40px;
                                        text-align: center;
                                        content: "\f0f6";
                                        color: $button-text-color;
                                    
                                    }

                                }

                                &:hover {
                                    .mask {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                    
                                }
                            }
                        }

                        ul {
                            &.category {
                                list-style: none;
                                padding: 0;
                                margin: 0;

                                li {
                                    display: inline-block;

                                    a {
                                        color: $copyright-text-color;
                                        font-size: 0.8em;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }

                    }
                }
            }

            &.three-columns {
                .item {
                    width: 33.33333%;
                    float: left;
                    padding: 1em;
                }
            }
            
        }
    }
}