/* ============================================================================= 
12. Media Queries 
============================================================================= */
@mixin media-min($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin media-max($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}


@media only screen and (max-width: 1320px) {
    .portfolio-grid {
        figure {
            width: 33.3333%;
        }
    }
}

@media only screen and (max-width: 1032px) {
    .header {
        .header-content {
            margin: 0 15px;
        }
    }

    .pt-page {
        margin: 0 15px;
        width: auto;
    }
}

