@mixin a-transition($transition) {
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    -ms-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

@mixin translate3d($one, $two ,$three) {
    -webkit-transform: translate3d($one, $two ,$three);
    -o-transform: translate3d($one, $two ,$three);
    -moz-transform: translate3d($one, $two ,$three);
    transform: translate3d($one, $two ,$three);
}

@mixin  translate-Y($value) {
    -webkit-transform: translateY($value);
    -ms-transform: translateY($value);
    -o-transform: translateY($value);
    transform: translateY($value);    
}

@mixin section-box-shadow($one, $two, $three, $four, $point-one, $point-two) {
    -webkit-box-shadow: $one $two $three $four rgba($point-one,$point-one,$point-one,$point-two);
    -moz-box-shadow: $one $two $three $four rgba($point-one,$point-one,$point-one,$point-two);
    box-shadow: $one  $two $three $four rgba($point-one,$point-one,$point-one,$point-two);
}

@mixin form-style {
    position: relative;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    display: block;
    font-size: 0.9em;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    background: transparent;
    text-align: left;
    color: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: 'Roboto', Helvetica, sans-serif;
}

@mixin button-box-shadow($first, $second, $third, $fourth, $fifth, $sixth, $value-one, $value-two, $value-three) {
    box-shadow: $first $second $third rgba($value-one,$value-one,$value-one,$value-two), $fourth $fifth $sixth rgba($value-one,$value-one,$value-one,$value-three);  
}

@mixin  button-all {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.8;
    padding: 0 1.5em;
    outline: none;
    border: 0;
    border-radius: 3px;
}

@mixin border-top-style($border-width, $border-type, $border-color) {
    border-top: $border-width $border-type $border-color;
}

@mixin border-bottom-style($border-width, $border-type, $border-color) {
    border-bottom: $border-width $border-type $border-color;
}

@mixin site-main-menu {
    display: block;
    position: relative;
    padding: 8px 0;
    margin: 0 20px;
    text-align: center;
    color: #49515d;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    outline: none;
    opacity: 0.6;
}