@import "_variable.scss";
@import "_mixin.scss";

/* ============================================================================= 
7. Subpages
============================================================================= */
/* =======================================
7.2. Resume subpage
======================================= */
.timeline {
    border-left: 2px solid $resume-timeline;
    padding: 15px 0;

    .timeline-item {
        position: relative;
        padding: 15px 20px 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        background-color: $button-text-color;
        border-left: 2px solid $card-header-color;
        @include section-box-shadow(0px, 0px, 3px, 0px, 0, 0.2);

        &:hover {
            @include section-box-shadow(0px, 0px, 8px, 0px, 0, 0.2);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            background-color: $button-text-color;
            border-radius: 10px;
            width: 12px;
            height: 12px;
            top: 20px;
            left: -29px;
            border: 2px solid $card-header-color;
            z-index: 2;  
        }

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            background-color: $button-text-color;
            border-radius: 10px;
            width: 29px;
            height: 2px;
            top: 20px;
            left: -29px;
            z-index: 2;   
        }
    }
}