/* ============================================================================= 
7. Subpages
============================================================================= */
/* =======================================
7.3. Services subpage
======================================= */
.material-template {
    .pre-loader {
        .page {
            .site-main {
                .pt-wrapper {
                    .pt-page {
                        .custom-page-content {
                            .page-header {

                            }

                            .page-content {
                                .row {
                                    .service-block {
                                        text-align: center;
                                        padding: 0;
                                        margin-bottom: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}