$font-color: #424242;
$background-color: #f5f5f5;
$button-text-color: #fff;
$service-image-background: #fafafa;
$button-text-color-black: #212121;
$card-header-color: #2eca7f;
$hover-color: #FF9800;
$heading-color: #212121;
$paragraph-font-size: 16px;
$margin-bottom-value: 12px;
$text-small: 12px;
$copyright-text-color: #9e9e9e;
$perspective: 1500px;
$subpage-width: 1032px;
$subpage-padding-bottom: 50px;
$site-title-color: #49515d;
$media-background: #4f565e;
$block-title-h3: 21px;
$customer-page-content-h2: 44px;
$margin-bottom: 25px;
$photo-width: 280px;
$title-subtitle-font: 18px;
$resume-timeline: #e0e0e0;
$post-meta-color: #a6a6a6;
$skill-percent: 88%;
