@import "_variable.scss";
@import "_mixin.scss";




html {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $font-color;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.6em;
    background-color: $background-color;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(../img/main_bg.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;

    &.ajax-page-visible {
        overflow: hidden;
    }

    a {
        color: $card-header-color;
        text-decoration: none;
        outline: none;
        @include a-transition(0.3s);

        &:hover {
            color: $hover-color;
        }

        &:focus {
            outline: 0;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: $heading-color;
        font-family: 'Montserrat', Helvetica, sans-serif;
        font-weight: 600;
        line-height: 1.5em;
        margin-top: 0;
        margin-bottom: 10px;        
    }

    p {
        font-size: $paragraph-font-size;
        margin: 0 0 10px;
    }

    p.lead {
        font-size: 18px;
        margin: 25px 0;
    }

    img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }

    .page {
        position: relative;
        width: 100%;
        height: auto;
    }

    .mobile-visible {
        display: none;
        visibility: hidden;
    }

    .mobile-hidden {
        display: block;
        visibility: visible;
    }

    /* Form controls */
    .form-group {
        position: relative;
        margin: 0 0 25px;
    }

    .form-control {
        height: 42px;
        @include form-style;
        &:focus {
            height: 42px;
            @include form-style;
        }

        &+.form-control-border {
            content: "";
            position: absolute;
            z-index: -1;
            left: 50%;
            right: 50%;
            bottom: 0;
            background: $card-header-color;
            height: 2px;
            @include a-transition(0.3s)
        }
    }

    .has-error {
        .form-control {
            @include form-style;
            &:focus {
                @include form-style;
            }
        }
    }

    textarea.form-control {
        height: auto;
        &:focus {
            height: auto;
        }
    }

    /* Form not completed*/

    /* Buttons */
    .btn-primary,
    .btn-secondary,
    button, input[type="button"], input[type="submit"] {
        text-transform: uppercase;
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        line-height: 2.8;
        padding: 0 1.5em;
        outline: none;
        border: 0;
        border-radius: 3px;
    }    
}